.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:active, 
.navbar-default .navbar-nav>.active>a:hover {
   border-bottom: 1px solid #4F95FF;
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #4F95FF;
}

.slider .slider-handle {
   background: #4F95FF;
}

#submit-button,
.action-button,
#msform .action-button {
	background: #4F95FF;
}

#submit-button:hover, #submit-button:focus,
.action-button:hover, .action-button:focus,
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #4F95FF;
}

label {
   background: #989FC3;
}

input[type="checkbox"]:checked + label {
   background: #7B80A7;
}

.search .results a:hover {
   background-color: #4F95FF;
}