.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:active, 
.navbar-default .navbar-nav>.active>a:hover {
   border-bottom: 1px solid #FF884F;
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #FF884F;
}

.slider .slider-handle {
   background: #FF884F;
}

#submit-button,
.action-button,
#msform .action-button {
	background: #FF884F;
}

#submit-button:hover, #submit-button:focus,
.action-button:hover, .action-button:focus,
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #FF884F;
}

label {
   background: #C3C098;
}

input[type="checkbox"]:checked + label {
   background: #A79E7B;
}

.search .results a:hover {
   background-color: #FF884F;
}