.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
   background-color: #FF4FBD;
   border-top: 5px solid #782863;
   border-bottom: 5px solid #FF4FBD;
}

.navbar-default .navbar-nav>li>a:hover {
   border-top: 5px solid #782863;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
   border-top: 5px solid #782863;
   border-bottom: 5px solid #782863;
   background-color: #FF4FBD;
}

.dropdown-menu:after {
  border-bottom: 6px solid #FF4FBD;
}

.dropdown-menu {
   background-color: #FF4FBD;
}

.dropdown-menu>li>a>h3 {
   color: #FF4FBD;
}

.plus-glyph {
   color: #FF4FBD;
}

input.cmn-toggle-round-flat + label {
  background-color: #FF4FBD;
}

input.cmn-toggle-round-flat + label:before {
  background-color: #FF4FBD;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #FF4FBD;
}

.modal-header {
   background-color: #FF4FBD;
}

.modal-footer {
   background-color: #FF4FBD;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
   background: #FF4FBD;
   border-bottom: 2px solid #782863;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #D0429B;
}

.search .results {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border: 1px solid #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results a:hover {
    border-color: #782863;
    background-color: #FF4FBD;
}