* {
   margin: 0;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: #3b3b3b;
   font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	overflow-x: hidden;
}

/* Navigation Bar */
nav {
   color: #3b3b3b;
}

a:focus {
   outline: none;
}

.navbar-default {
   border-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
   border-bottom: 0;
   font-weight: bold;
   color: #3b3b3b;
   border-top: 5px solid #f8f8f8;
   border-bottom: 5px solid #f8f8f8;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
   background-color: #FF534F;
   color: #f8f8f8;
   border-top: 5px solid #782928;
   border-bottom: 5px solid #FF534F;
}

.navbar-default .navbar-nav>li>a:hover {
   border-top: 5px solid #782928;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
   border-top: 5px solid #782928;
   border-bottom: 5px solid #782928;
   color: #fff;
   height: 60px;
   background-color: #FF534F;
}


/* Drop down styles */
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 14px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 15px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FF534F;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu {
   background-color: #FF534F;
   width: 100%;
   min-width: 300px;
}

.navbar-nav>li>.dropdown-menu {
   margin-top: 10px;
}

.dropdown-menu>li {
   background-color: #232323;
}

.dropdown-menu>li>a {
   padding-top: 12px;
}

.dropdown-menu>li>a>h3 {
   color: #FF534F;
   display: inline;
}

.dropdown-menu>li>a>h4 {
   font-size: 13px;
   margin-top: 0px;
   color: #8d8d8d;
}

.plus-glyph {
   color: #FF534F;
   float: right;
   font-size: 32px;
   transform: translateY(12%)
}
/* Body styles */
.wrapper {
   padding-top: 100px;
}

/* Toggle Switch */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.cmn-toggle>h2 {
   font-weight: bold;
}

.switch {
   text-align: center;
}

/* Input styles for toggle switch */
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  margin: 0 auto;
  height: 60px;
  background-color: #FF534F;
  border-radius: 5px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #FF534F;
  border-radius: 5px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #424445;
  border-radius: 5px;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #FF534F;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #232323;
}

/* Modal styles */
.modal-content {
   margin-top: 100px;
}

.modal-header {
   background-color: #FF534F;
   border-bottom: #232323;
}

.modal-header>h4 {
   font-weight: bold;
}

.modal-body {
   background-color: #3b3b3b;
}

.modal-footer {
   background-color: #FF534F;
   padding: 5px;
   border-top: #232323;
   border-radius: 0px 0px 5px 5px;
}

/* Login form styles */
.form-style-6{
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    padding-top: 0px;
}

.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="password"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
   transition: all 0.30s ease-in-out;
   outline: none;
   box-sizing: border-box;
   width: 100%;
   background: #fff;
   margin-bottom: 4%;
   border: 1px solid #ccc;
   padding: 3%;
   color: #555;
   font: 95% Arial, Helvetica, sans-serif;
}

.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   width: 100%;
   padding: 3%;
   background: #FF534F;
   border-bottom: 2px solid #782928;
   border-top-style: none;
   border-right-style: none;
   border-left-style: none;    
   color: #fff;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #D04542;
}

/* Search Box styles */
.main-search { 
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   width: 85%;
}

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.search input {
    height: 60px;
    background-color: #e8e8e8;
    width: 100%;
    padding: 0 12px 0 25px;
    border: 1px solid #232323;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 1px #232323, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border: 1px solid #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 15px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #782928;
    background-color: #FF534F;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }

.dropdown-glyph {
   font-size: 30px;
   transform: translateY(12%);
   color: rgba(0,0,0,.4);
}

.theme {
   width: 19% !important;
   display: inline;
}

.form-style-6 input[name="red"] {
   background: #FF534F !important;
   border-bottom: 2px solid #782928 !important;
}

.form-style-6 input[name="red"]:hover {
   background: #D04542!important;
}

.form-style-6 input[name="blue"] {
   background: #4FBEFF !important;
   border-bottom: 2px solid #284578 !important;
}

.form-style-6 input[name="blue"]:hover {
   background: #427BD0 !important;
}

.form-style-6 input[name="orange"] {
   background: #FFAC4F !important;
   border-bottom: 2px solid #785128 !important;
}

.form-style-6 input[name="orange"]:hover {
   background: #D09442 !important;
}

.form-style-6 input[name="purple"] {
   background: #BF4FFF !important;
   border-bottom: 2px solid #592878 !important;
}

.form-style-6 input[name="purple"]:hover {
   background: #A342D0 !important;
}

.form-style-6 input[name="pink"] {
   background: #FF4FBD !important;
   border-bottom: 2px solid #782863 !important;
}

.form-style-6 input[name="pink"]:hover {
   background: #D0429B !important;
}