.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
   background-color: #FFAC4F;
   border-top: 5px solid #785128;
   border-bottom: 5px solid #FFAC4F;
}

.navbar-default .navbar-nav>li>a:hover {
   border-top: 5px solid #785128;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
   border-top: 5px solid #785128;
   border-bottom: 5px solid #785128;
   background-color: #FFAC4F;
}

.dropdown-menu:after {
  border-bottom: 6px solid #FFAC4F;
}

.dropdown-menu {
   background-color: #FFAC4F;
}

.dropdown-menu>li>a>h3 {
   color: #FFAC4F;
}

.plus-glyph {
   color: #FFAC4F;
}

input.cmn-toggle-round-flat + label {
  background-color: #FFAC4F;
}

input.cmn-toggle-round-flat + label:before {
  background-color: #FFAC4F;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #FFAC4F;
}

.modal-header {
   background-color: #FFAC4F;
}

.modal-footer {
   background-color: #FFAC4F;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
   background: #FFAC4F;
   border-bottom: 2px solid #785128;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #D09442;
}

.search .results a:hover {
    border-color: #785128;
    background-color: #FFAC4F;
}